{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row" style="padding:10px 0px 10px 0px;">
            <div class="col-md-3"><span style="color: red;font:18px bolder;">诚信&nbsp;Integrity&nbsp;&nbsp;</span></div>
            <div class="col-md-3"><span style="color: coral;font:18px bolder;">激情&nbsp;Enthusiasm&nbsp;&nbsp;</span>
            </div>
            <div class="col-md-3"><span style="color:green;font:18px bolder;">合作&nbsp;Cooperation&nbsp;&nbsp;</span>
            </div>
            <div class="col-md-3"><span style="color: #4169E1;font:18px bolder;">共赢&nbsp;Win-win&nbsp;&nbsp;</span>
            </div>
        </div>


        <div class="row" style="height: 300px">
            <div class="col-md-4">
                {% newstechs %}
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-9"><img src="{% static "images/product-intro.jpg" %}"/></div>
            <div class="col-md-1">
                <a href="javascript:void(0)"><img src="{% static "images/more-link.jpg" %}"/></a></div>
        </div>
        <div class="row">
            <img src="{% static "images/d-line.jpg" %}"
        </div>
        <div class="row">

        </div>
    </div>

{% endblock %}
