{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <div class="container content">
        <div class="row" style="padding:10px 0px 10px 0px;">
            <span style="color: red;font:18px bolder;padding-left:10%;">诚信&nbsp;Integrity&nbsp;&nbsp;</span>
            <span style="color: coral;font:18px bolder;padding-left:10%;">激情&nbsp;Enthusiasm&nbsp;&nbsp;</span>
            <span style="color:green;font:18px bolder;padding-left:10%;">合作&nbsp;Cooperation&nbsp;&nbsp;</span>
            <span style="color: #4169E1;font:18px bolder;padding-left:10%;">共赢&nbsp;Win-win&nbsp;&nbsp;</span>
        </div>


        <div class="row" style="height: 300px">
            <div class="col-md-3">
                {% newstechs %}
            </div>
            <div class="col-md-6">
                {% intro %}
            </div>
            <div class="col-md-3">
                {% contact %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"><img src="{% static "images/product-intro.jpg" %}"/></div>
            <div class="col-md-1">
                <a href="javascript:void(0)"><img src="{% static "images/more-link.jpg" %}"/></a></div>
        </div>
        <div class="row" style="padding-left: 10px">
            <img src="{% static "images/d-line.jpg" %}"
        </div>
        {% scrollProduct %}
    </div>

{% endblock %}
