{% extends "base.html" %}

{% load static core_tags %}

{% block body_class %}contentpage{% endblock %}
{% block headerclass %}
    content-header
{% endblock %}
{% block banner %}
    {% headImage %}
{% endblock %}
{% block containercls %}
    subpage
{% endblock %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-2">
                <div></div>
                {% contactusbar %}
            </div>
            <div class="col-md-10">
            </div>
        </div>
    </div>
{% endblock %}