{% extends "base.html" %}

{% load wagtailimages_tags static core_tags wagtailcore_tags %}

{% block body_class %}contentpage{% endblock %}
{% block headerclass %}
    content-header
{% endblock %}
{% block banner %}
    {% headImage %}
{% endblock %}
{% block containercls %}
    subpage
{% endblock %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="col-md-2">
                <div class="second-link">
                    <ul class="menu">
                        {% if self.types %}
                            {% for key,value in self.types %}
                                <li class="leaf"><a href="{{ self.baseUrl }}type/{{ key }}"
                                                    title="{{ value }}">{{ value }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                {% contactusbar %}
            </div>
            <div class="col-md-10" style="padding-left: 60px;padding-top: 10px;">
                {% block singlecontent %}
                    {% include "core/includes/content.html" with content=self.content title=self.title only %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}